<section class="page-header">
  <div class="container">

    <h1 class="project-name">Bloody Marie</h1>
    <h2 class="project-tagline">{{ site.tagline }}</h2>


    <a href="word" class="btn">Word</a>
    <a href="treasures" class="btn">Treasures</a>
    <a href="vagabonding" class="btn">Vagabonding</a>
    <a href="code" class="btn">Code</a>
    <!-- <a href="sweet" class="btn">Sweet</a> -->
    <a href="bleeding" class="btn">Blood</a>
    <a href="grace" class="btn">Grace</a>
  </div>
</section>
